@using CV_Website.ViewModels
@model ChangePasswordViewModel

<h2>Byt lösenord</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="CurrentPassword">Nuvarande lösenord</label>
        <input type="password" class="form-control" id="CurrentPassword" asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="NewPassword">Nytt lösenord</label>
        <input type="password" class="form-control" id="NewPassword" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Bekräfta nytt lösenord</label>
        <input type="password" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>

